.Button {
    color: white;
    font-weight: 600;
    display: block;
    margin: 40px auto;
}
.Button:focus{
    background: #ffc107;
    outline: none;
    color: white;
    border-color: #ffc107;
}
.Button:hover {
    color: white;
}