.Container {
    display: flex;
    flex-flow: wrap;
    margin: 30px 0;
    min-height: 200px;
}

.Card {
    width: 180px;
    min-width: 180px;
    text-align: center;
    padding: 20px 0 10px 0;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 6px 21px 1px rgb(182, 182, 182);
    margin: 0 20px 20px 0;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
}

.Button {
    width: 70px;
    height: 30px;
    padding: 0;
}

.Spinner {
    height: 100px; 
    width: 100px; 
    font-size: 40px;
    display: block; 
    margin: 100px auto;
}

.Date {
    font-size: 12px;
    color: grey;
}

.Title {
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(206, 206, 206);
    max-width: 350px;
}
